* {
    margin: 0;
    padding: 0;
    outline: 0;
}

a {
    text-decoration: none;
    color: #000;
} 

.Fix:after {
    display: block;
    content: "";
    height: 0;
    clear: both;
}

body {
    font-family: Hiragino Sans GB,Arial,Helvetica,\\5B8B\4F53,sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}

.footer_4tab, a, body, input, textarea {
    -webkit-tap-highlight-color: transparent;
}
.bord, body {
    background-color: #f0f0f0;
}

.bord {
    height: 10px;
}

.index_xyhzq, .qqyy {
    display: -webkit-box;
}

ol, ul {
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

/* .arrowent */
.arrowent {
    right: 10px;
    background-size: 8px 14px;
    margin-top: -4px;
    transform: rotate(45deg);
    height: 8px;
    border-bottom: none;
    border-left: none;
    -webkit-transform: rotate(45deg);
}

.arrowDown, .arrowUp, .arrowent {
    position: absolute;
    top: 50%;
    width: 8px;
}

.arrowDown, .arrowent {
    border: 2px solid #bbb;
}

i, cite, em, var, address, dfn {
    font-style: italic;
}

.index_cnt {
    position: relative;
}

del {
    text-decoration: line-through;
}

