* {
    margin: 0;
    padding: 0;
    outline: 0;
}

a {
    text-decoration: none;
    color: #000;
} 

.Fix:after {
    display: block;
    content: "";
    height: 0;
    clear: both;
}

body {
    font-family: Hiragino Sans GB,Arial,Helvetica,\\5B8B\4F53,sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}

.footer_4tab, a, body, input, textarea {
    -webkit-tap-highlight-color: transparent;
}
.bord, body {
    background-color: #f0f0f0;
}

.bord {
    height: 10px;
}

.index_xyhzq, .qqyy {
    display: -webkit-box;
}